/* =========
Global style
===========*/
:root {
  --rougeantifa: tomato;
}
body {
  margin: 0;
}

/* =========
    Typo
===========*/

h1 {
  color: rgb(230, 230, 230);
  padding: 15px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 4em;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(230, 230, 230);
}

p {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  color: rgb(230, 230, 230);
}

q {
  display: block;
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 40px;
  line-height: 1.25em;
  color: rgb(230, 230, 230);
  text-shadow: 1px 1px 4px grey;
  margin-bottom: 10px;
}

cite {
  position: absolute;
  margin: auto;
  right: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  font-weight: 700;
  font-style: italic;
  color: rgb(230, 230, 230);
  text-shadow: 2px 2px 2px black;
}

label {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  color: rgb(230, 230, 230);
}

/* =========
Components 
===========*/

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
  position: absolute;
  justify-content: start;
  width: 100vw;
  height: 90vh;
  margin: 0;
  background: var(--rougeantifa);
  z-index: 999;
  transition: 200ms transform ease-out;
  transform-origin: bottom;
}

.nav-toggle:checked ~ nav a {
  color: black;
  font-size: 2em;
  text-decoration: underline;
  line-height: 3em;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

span {
  position: absolute;
  margin: auto;
  height: 3px;
  width: 25px;
  background: white;
  border-radius: 2px;
  transition: 300ms transform ease-in;
}

span:nth-child(2) {
  position: absolute;
  margin: auto;
  top: 11px;
}

span:nth-child(3) {
  position: absolute;
  margin: auto;
  bottom: 10px;
}

.nav-toggle:checked ~ div span:nth-child(2) {
  transform: rotate(45deg) translate(5px, 6px);
  background: var(--rougeantifa);
}

.nav-toggle:checked ~ div span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
  background: var(--rougeantifa);
}

.nav-toggle:checked ~ div span:nth-child(1) {
  transform: scale(0);
}

/* scrolldown arrows */
.scrolldown {
  height: 100px;
  width: 100px;
}

.arrow {
  width: 30px;
  height: 30px;
  border: 5px solid #fff;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  animation: scrolldown 1000ms infinite;
  animation-timing-function: ease-in;
}

.one {
  margin: auto;
}

.two {
  position: relative;
  margin: auto;
  top: -19px;
  animation-delay: 333ms;
}

.three {
  position: relative;
  margin: auto;
  top: -38px;
  animation-delay: 666ms;
}

@keyframes scrolldown {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* =========
Layout
===========*/

.container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.page {
  position: relative;
  height: 100vh;
  scroll-snap-align: center;
  overflow: visible;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2em;
  width: 100vw;
  height: 40px;
  position: relative;
}

#top_line {
  width: 95%;
  height: 2px;
  background-color: rgb(230, 230, 230);
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
}

.page1 {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./src/manif.jpeg);
}

.page2-text {
  position: absolute;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

.accueil {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.title {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 35vh;
  width: 50vw;
  bottom: 0;
  left: 0;
}

.title-text {
  height: 100%;
}

aside {
  position: absolute;
  margin: auto;
  z-index: 999;
  padding: 5px;
  top: 0;
  bottom: 0;
  right: 5vw;
  height: 20vh;
  width: 40vw;
}

/* big quotation mark */
q::before {
  content: "❝";
  position: absolute;
  color: var(--rougeantifa);
  text-shadow: none;
  opacity: 0.9;
  font-size: 4em;
  left: -110px;
}

.nav-toggle-btn {
  display: none;
}

nav {
  width: 100%;
  height: 100px;
  position: absolute;
  margin: auto;
  bottom: 0;
  display: flex;
  justify-content: end;
}

nav ul {
  margin: 20px;
  list-style-type: none;
}

nav ul a {
  position: relative;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: rgb(230, 230, 230);
}

nav a::before {
  content: "";
  position: absolute;
  margin: auto;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: var(--rougeantifa);
  transition: transform 300ms ease-in;
  transform: scaleX(0.2);
  transform-origin: left;
}

nav a:hover::before {
  transform: scale(1);
}

.page2 {
  position: relative;
  background: url(./src/strasbourgmap.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.page2-left {
  position: relative;
  padding: 20px;
  width: 40%;
  overflow: hidden;
}

.page2-right {
  position: relative;
  padding: 20px;
  width: 40%;
  overflow: hidden;
}

.form-mail {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

input {
  border-radius: 5px;
  width: 50%;
  margin: 10px 0px 10px 0px;
  background-color: rgb(230, 230, 230, 0.3);
  border: none;
}

textarea {
  border-radius: 5px;
  height: 25vh;
  width: 75%;
  margin: 10px 0px 10px 0px;
  background-color: rgb(230, 230, 230, 0.3);
  border: none;
}

textarea:focus,
input:focus {
  background-color: rgb(230, 230, 230, 0.6);
}

.blabla:hover {
  text-decoration: underline;
}

.accueil h2:hover {
  color: red;
}

.page3 {
  display: none;
}

/* ========
  Media queries
========*/

@media screen and (max-width: 780px) {
  .nav-toggle-label {
    transform: scale(1);
  }
  nav {
    transform: scale(1, 0);
  }

  q {
    font-size: 20px;
  }
  h1 {
    font-size: 2em;
  }
  .page1 {
    background-position: center 25%;
  }
  .scrolldown {
    transform: scale(0.4);
  }
  .title {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }
  .title-text {
    height: 50%;
  }
  aside {
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 55%;
  }
  q::before {
    left: -55px;
  }
  cite {
    font-size: 0.8em;
    margin-right: 10px;
  }

  .nav-toggle-btn {
    display: block;
    position: fixed;
    margin: 0;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 999;
  }

  .page2-left {
    display: none;
  }

  .page2-right {
    position: relative;
    background-position: right;
    bottom: 0;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .page2-text {
    width: 90vw;
  }

  p {
    font-size: 0.85em;
    text-align: justify;
  }
  .page3 {
    display: flex;
    flex-direction: column;
    position: relative;
    background: url(./src/strasbourgmap.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }
  form {
    margin: 20px;
  }

  h2 {
    color: var(--rougeantifa);
    margin: 0;
    padding: 20px;
  }
}
